/* GENERAL */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, sectio, span{
    display: block;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
input::-moz-focus-inner { 
    border: 0px;
    padding: 0px;  
}
iframe{
    overflow:hidden;
}

/* PAGE GLOBAL */
header, footer, article, aside {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 924px;
    text-align:center;
}
.page{
    width:934px;
}
.side{
    width: 0px;
}

/* PAGE GLOBAL TEXT */
body {
    width: 100%;
    height: 100%;
    font: 14px/1.4 'helvetica neue',helvetica,arial,sans-serif;
    color: #333333;
}
.tStd{
    font-family: 'helvetica neue',helvetica,arial,sans-serif;
    color: #333333;
}
.tMono{
	font-family: monospace; 
}
.tLine{
    line-height:1;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
ul{
    list-style-type:none;
}
a, a:link{
    color: #3B88D8;
    outline: medium none;
    text-decoration: none;
    font-family: monospace;
}
a:hover{
    text-decoration: underline;
    color: #F37331;
}
footer{
    color: #333;
    font-size: 12px;
    font-style: italic;
}
footer a,  footer a:link{
    font-size: 12px;
    font-style: italic;
}
p{
    margin-top:8px;
}
.mtantip{
    margin-top:-8px;
}

/* CHAMPIONS */
.champions{
    background:#FFF;
}
.active li{
    cursor: pointer;
    border-radius: 3px;
}
.active li:hover, .hover{
    background: #F37331;
}
.active li:hover .icon, .hover .icon{
    opacity: 0.9;
}
.active li:hover a, .hover a{
    text-decoration: none;
    color: #FFF;
}
.active li:hover span.name, .ui-menu-item a.ui-state-focus span.name, .hover span.name{
    color: #FFF;
}
.champions .power{
    color: #fff;
    font-size: 24px;
    font-family: monospace; 
    margin: -26px 0px 0px 2px;
    line-height: 1;
    text-align: left;
    border:1px solid #d3d3d3;
    border-bottom: 0px;
    border-left: 0px;
    border-radius: 0px 3px 0px 3px;
    padding: 1px 0px 0px 0px;
    width: 30px;
    background: rgba(59, 136, 216, 0.8);
    position:absolute;
}
.champions .progress{
    color: #fff;
    font-size: 14px;
    font-family: monospace; 
    margin: -16px 0px 0px 51px;
    padding: 0px 2px 1px 0px !important;
    line-height: 1;
    text-align: right;
    border:1px solid #d3d3d3;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 3px 0px 3px 0px;
    padding: 1px 0px 0px 0px;
    width: 28px;
    background: rgba(1, 164, 239, 0.9);
    position:absolute;
}
.champions .progress.down{
   background: rgba(255, 185, 1, 0.9);
}
.champions.low .progress{
    height: 17px;
    padding-top: 4px !important;
    border-radius: 0px 3px 3px 0px;
    border:1px solid #000;
    border-width: 1px 1px 1px 0px !important;
    margin: -50px 1px 26px 52px; 
    text-align: center;
    position:static;
}
.champions .power.weak{
   background: rgba(242, 80, 34, 0.9);
}
.champions .power.strong{
   background: rgba(127, 186, 0, 0.9);
}
.champions.low .power{
    border-radius: 0px 3px 3px 0px;
    border:1px solid #000;
    border-width: 1px 1px 1px 0px !important;
    margin: -27px 1px 0px 52px;    
    position: static;
}
.champions .name{
    position:relative;
    dislpay:block; 
    font-size: 11px;
    font-weight: 400;
    font-family: monospace; 
    text-align: center;
    color: /*#01A4EF;*/ #3B88D8;
    margin: 0px 0px 2px 0px;
}
.champions .icon{
    position:relative;
    width: 80px;
    height: 80px;
    margin: 2px 2px 0px 2px;
    font-size:10px;
}
.champions .icon span{
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-image: url(/img/champions.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;
}

.champions.low .icon{
    background-image: url(/img/champions.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    position:static;
    width: 50px;
    height: 50px;
    border-radius: 3px 3px 0px 3px;
}
.champions.low .icon.iprogress{
   border-radius: 3px 0px 0px 3px;
}
.androidapp{
    background-image: url(/img/android.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 50px;
    margin: 0px 2px 0px 2px;
}
.androidapp .holder{
    color: #3B88D8;
    background: rgba(255, 255, 255, 0.8);
    font-size: 10px;
/*    font-family: monospace;
    font-weight: bold; */
    cursor:default;
    height:50px;
    width:80px;
    padding-top:10px;
}
.social{
    margin: 0px 0px 0px 2px;
    width: 82px;
}

.menu{
    font-family: monospace;
}
.menu li{
    padding-left:24px;
}

.news .champions.side{
    width: 762px;
    height: 99px;
}
.news h3{
    background-color:#fff;
}

/* SEARCH */
.search{
    width: 414px;
    border:1px solid #d3d3d3; 
    padding:2px;
    border-radius: 3px;
}
.autocomplite{
    border:0px 1px 1px 1px solid #d3d3d3; 
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(1, 164, 239, 0.9);
    text-align: center;
}
.autocomplite ul{
    background: #01A4EF;
    border-radius: 3px;
}
.autocomplite .name{
    color:#fff;
}

/* MODAL */
.overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    background-color:rgba(0,0,0,0.3);
    z-index:101;
}
.dialog{
    width: 924px;
    border-radius: 3px;
    position: absolute;
    z-index:102;
    left: 50%;
    margin-left: -462px;
    margin-top: 59px;
    padding: 8px 0px 8px 0px;
}
.dialog.items{
    border:0px 1px 1px 1px solid #d3d3d3; 
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(1, 164, 239, 0.3);
    text-align: center;
    background: #01A4EF;
}

/* LAYOUT */
ul.table li{
    display: inline-table;
    overflow: hidden;
    vertical-align: top;
}
.row:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
ul.list li{
    margin-top:16px;
}

.cell {
    float: left;
}
.cellR{
    float: right;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
.absolute{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
.tLeft{
    text-align: left;
}
.tRight{
    text-align: right;
}
.tJustify{
    text-align: justify;
}
/* Links separated with vertical bar */
.md_links {
    cursor: default;
    list-style:none;
}

.md_links li {
    padding:0;
    display: inline-block;
}

.md_links li:before {
    margin: 0 3px 0 3px;
    content: "|";
    display: inline-block;
    color: #999;
}

.md_links li:first-child:before {
    display: none;
}
/* COMMENTS */
.counterdetails .loginblock, .counterdetails .loginbuttons{
   width: 928px;
   position:absolute; 
   height:56px;
   z-index:11;
   margin:37px 0px 0px -2px; 
   border-radius:3px
}
.counterdetails .loginblock{
    background:#000;
    opacity:0.4; 
}
.counterdetails .loginbuttons{
    padding-top: 19px;
    color: #FFF;
}
.counterdetails .loginbuttons div{
    background:#000; 
    width:500px; 
    margin-left:214px; 
    cursor:pointer;
    border-radius: 3px;
}
.counterdetails .pros{
    width: 386px;
}
.counterdetails .cons{
    width: 386px;
}
.counterdetails textarea{
    width: 258px; 
    height: 48px;
    margin: 0px 0px 0px 6px;
    resize: none;
    border:1px solid #d3d3d3; 
    border-radius: 3px;
    display:block;
    padding: 2px 0px 0px 2px;
}
.counterdetails .submit{
    color: #FFF;
    height: 52px;
    margin: 0 0 0 6px;
    width: 60px;
    background: rgba(1, 164, 239, 0.9);
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.9;
}
.counterdetails .submit:hover{
    opacity: 1;
}

.champion .main figcaption{	
    margin: -28px 0px 0px 0px;
    padding: 0px 0px 4px 0px;
    color:#fff
}
.champion .main figure{
    text-align:center;
}  
.champion .main img{
    border-radius: 12px;
}
.champion .main{
    margin: 0px 10px 0px 10px;
}
.champion .pros{
    width: 327px;
}
.champion .cons{
    width: 327px;
}
.filtritems{
    width: 476px;
    border:1px solid #d3d3d3; 
    padding:2px;
    border-radius: 3px;
    margin-bottom: 8px;
}
.items li{
    padding:3px;
}
.items .icon, .itemsicon {
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    border-radius: 3px 3px 0px 0px;
}
.items .number{
    text-align: center;
    width: 26px;
    font-size: 10px;
    color: #FFF;
}
.items li.side{
	width:	429px;
	padding-top:0px;
	padding-bottom:0px;
}
.items li.side ul.items{
	width:	342px;
}
.items li.side ul.items .icon{
	height: 32px;
    width: 32px;
    background-size:1000%;
}
.comments.list li{
    margin-bottom:-12px;
}
.comments .number{
    text-align: center;
    height: 12px;
    padding: 18px 0px 22px 0px;
    font-size: 10px;
    color: #FFF;
}
.comments .comment{
    margin: -4px 0px 0px 2px;
    text-align: justify;
    width: 300px;
}
.comments .name{
    text-align: right; 
    font-size: 12px; 
    line-height: 1; 
}
.comments .votes{
    padding: 2px 0px 2px 0px;
    border-radius: 3px;	
    border:1px solid;
}
.items .votes{
    width: 48px;
    padding: 2px 0px 0px 0px;			
    border-radius: 0px 0px 3px 3px;
    border:1px solid #000;
}
.votes.as, .iconselect.as{
    background-color: rgba(127, 186, 0, 0.9);
    border-color:rgba(1, 164, 239, 0.9);
}
.votes.against, .iconselect.against{
    background-color: rgba(242, 80, 34, 0.9);
    border-color:rgba(255, 185, 1, 0.9)
}
.iconselect{
    height: 52px;
    width: 52px;
    border-radius: 3px;
    cursor: pointer;
    color: #FFF;
    opacity: 0.9;
    border:1px solid #000;
}
.iconselect:hover{
    opacity: 1
}
		
.sprite{
    background-image: url(/img/shevrons.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}		
a.active:hover{
    background-color: #F37331;
}
.sprite.up{
    background-position: 0px -0px;
    height: 7px;
    width: 11px;
}
.sprite.down{
    background-position: 0px -7px;
    height: 7px;
    width: 11px;
}
.items .sprite.up.left{
    margin: 2px 0px 2px 0px;
}
.items .sprite.down.right{
    margin: 2px 0px 2px 0px;
}
.comments .sprite.down, .comments .sprite.up{
    margin: 0px 4px 0px 4px;
}

.covers{	
	border-top-width:1px;  
	border-style:solid; 
	border-radius:5px; 
	border-color:rgba(1,164,239,1);
}
/* COLOR */
.bgw{background-color: #FFF;}
.bgtab{background-color: #01A4EF;}
.tcg{color:rgba(127,186,0,1);}
.tcr{color:rgba(242,80,34,1);}
.tcy{color:rgba(255,185,1,1);}
.tcb{color:rgba(1,164,239,1);}

/* FONT SIZE */
.tb {font-size: 28px;}
.tm{font-size:18px;}
.tn{font-size:14px;}
.ts{font-size:12px;}

/* FONT DECORATION */ 
.tdi{font-style:italic;}

/* DISPLAY */
.inline{display:inline-block;}

/* DIMENSION */
/* 
m - margin
t(second)-top
t(first) - text
n -normal size
s - small
br - border radius 
*/
.brs{border-radius: 3px !important;}

.mScontent{margin: 0px 5px 0px 5px;}

.mlb{margin-left:54px;}
.mln{margin-left:8px;}

.mrb{margin-right:82px;}
.mrn{margin-right:8px;}
.mtn{margin-top:8px;}
.mtn2{margin-top:16px;}

.mth3{margin-top:23px;}
.mtb{margin-top:54px;}
.mtg{margin-top:164px;}

.mbn{margin-bottom:8px;}
.mbn2{margin-bottom:16px;}

.pbn {padding-bottom:8px;}
.pln{padding-left:8px;}
.pls{padding-left:2px}

/* FIX-ME */
.headerleft{
    width:120px; 
    margin-right:132px;
}
