<h1 class="mtb">{{lang.about.header}}</h1>
<div class="row tLeft mtb">

  <div class="cell tJustify" style="width:500px;">
    <div class="mtantip pbn">{{& lang.about.description}}</div>
    <p>
      {{lang.about.details.detail1}}
    </p>
    <p>
      {{lang.about.details.detail2}}
    </p>
    <p>
      {{lang.about.details.detail3}}
    </p>
    <p>
      {{lang.about.details.detail4}}
    </p>
  </div>

  <div class="cellR" style="width:400px;">

    <div class="row tLeft">
      <div class="cell">
	<figure>
	<img src="/img/about/weaker.jpg" width="111" height="113" alt="weaker">
	</figure>
      </div>
      <div class="cell">
	<div style="color:rgba(1,164,239,1)">{{lang.about.growing}}</div>
	<div class="mtn" style="margin-top: 35px; color:rgba(127,186,0,1)">{{lang.about.overpower}}</div>
      </div>
    </div>

    <div class="row tLeft mtn">
      <div class="cellR">
	<figure>
	<img src="/img/about/stronger.jpg" width="99" height="108" alt="stronger">
	</figure>
      </div>
	<div class="cellR" style="text-align:right">
	  <div style="color:rgba(255,185,1,1)">{{lang.about.drooping}}</div>
	  <div class="mtn" style="margin-top: 25px;color:rgba(242,80,34,1);">{{lang.about.retreat}}</div>
	</div>
    </div>

    <div class="row tLeft mtn">
	<div class="cell">
	  <figure>
	  <img src="/img/about/small.jpg" width="109" height="70" alt="small">
	  </figure>
	</div>
	<div class="cell" style="width:250px">
	  <div style="color:rgba(1,164,239,1);  margin-top: 30px;">{{lang.about.less}}</div>
	</div>
    </div>
  </div>
</div>
