<div class="row counterdetails mtb">
  <div class="cell pros">
    <h3 class="tcg mbn2">{{>lang.label.as.title}}</h3>
					
    <form class="row">
      <input id="as-item" type="button" class="cell iconselect as" title="{{lang.comment.button.item}}" value="{{lang.comment.button.item}}">
      <textarea class="cell"  placeholder="{{lang.comment.placeholder}}"></textarea>
      <input type="submit" class="cell submit" title="{{lang.comment.button.send}}" value="{{lang.comment.button.send}}">
    </form>
					
    <div class="row">
      <ul class="cell list items tLeft">					
	<li>
	  <div class="icon" style="background-position: 0px 0px" title="boots"></div>
						
	  <span class="row votes as">
	    <a class="cell" href="http://www.picklol.net/up"><span class="sprite up left active"></span></a><span class="cell number">12</span><a class="cellR" href="http://www.picklol.net/down"><span class="sprite down right active"></span></a>	
	  </span>
	</li>
      </ul>
      <ul class="cell list comments tLeft">					
	<li><div class="row">
	  <div class="votes as cell">
	    <a href="http://www.picklol.net/up"><span class="sprite up active"></span></a><span class="number">12</span><a href="http://www.picklol.net/down"><span class="sprite down active"></span></a>	
	  </div>
	  <div class="comment cell">
	    The healing potential granted by Essence Theft is at its best when used with Orb of Deception, as it deals a damage, hits many targets. best when used with Orb of Deception Deception a
	  </div>
	</div><div class="name tcg">jaidu</div></li>
    </div>					
  </div>
					
  <div class="cellR cons">
    <h3 class="tcr mbn2">{{>lang.label.against.title}}</h3>
    
    <form class="row">
      <input type="button" id="against-item" class="cell iconselect against" title="{{lang.comment.button.item}}" value="{{lang.comment.button.item}}">
      <textarea class="cell"  placeholder="{{lang.comment.placeholder}}"></textarea>
      <input type="submit" class="cell submit" title="{{lang.comment.button.send}}" value="{{lang.comment.button.send}}">
    </form>
    
    <div class="row">
      <ul class="cell list items tLeft">					
	<li>
	  <div class="icon" style="background-position: 0px 0px" title="boots"></div>
						
	  <span class="row votes against">
	    <a class="cell" href="http://www.picklol.net/up"><span class="sprite up left active"></span></a><span class="cell number">12</span><a class="cellR" href="http://www.picklol.net/down"><span class="sprite down right active"></span></a>	
	  </span>
	</li>        
      </ul>
					
      <ul class="cell list comments tLeft">					
	<li><div class="row">
	  <div class="votes against cell">
	    <a href="http://www.picklol.net/up"><span class="sprite up active"></span></a><span class="number">12</span><a href="http://www.picklol.net/down"><span class="sprite down active"></span></a>	
	  </div>
	  <div class="comment cell">
	    The healing potential granted by Essence Theft is at its best when used with Orb of Deception, as it deals a damage, hits many targets. best when used with Orb of Deception Deception a
	  </div>
	</div><div class="name tcr">jaidu</div></li>

      </ul>
    </div>
    
  </div>
</div>
<div class="mtb"><a href="#">All advices for Ahri, ordered by date</a></div>

